.table_content {
  height: 200px;
  border: 2px solid gray;
}
.table_content tr th,
tr td {
  border: 2px solid gray;
}
thead {
  background-color: #006400;
  color: #ffffff;
}
thead tr th {
  padding: 10px;
  font-size: 14px;
  width: 200px;
}
tbody tr td {
  padding: 10px;
  font-size: 14px;
  text-align: left;
}
tbody th:nth-child(1) {
  background: orange;
  text-align: center;
}
tbody tr:hover {
  background: rgba(255, 165, 0, 0.1);
}
